* {
    margin: 0;
    padding: 0;
}

 body {
    display: flex;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

 ul {
    list-style-type: none;
 }

 #container {
     position: relative;
     z-index: 1;
 }

 /* menu */

 #menu {
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: black;
 }

 #menu > ul {
     display: flex;
 }

 #keyOption {
     flex: 1;
 }

 #scenesOption {
     flex: 3;
 }
 
 .menuOption {
     position: relative;
 }

.menuLabel {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 12px;
 }

 .menuLabel:hover, .menuDropdown li:hover {
    cursor: pointer;
 }

 .menuDropdown {
     display: none;
     position: absolute;
     width: 100%;
     height: 326px;
     background-color: black;
     justify-content: space-around;
     align-items: center;
 }

 #menu img {
     max-width: 553px;
     max-height: 319px;
 }

 #scenes li img:hover {
     border-bottom: solid;
     border-top: solid;
     border-width: 1px;
 }

.checks {
     position: absolute;
     height: 25px;
     width: 25px;
 }

 .foundCircles {
     position: absolute;
 }

 #spotted {
    display: none;
    position: absolute;
 }

 .circles {
    height: 100px;
    width: 100px;
    border: solid;
    border-color: red;
    border-width: 6px;
    border-radius: 50% 50%;
    box-shadow: 0px 5px 10px black;
    margin-right: 10px;
 }

 .circles > div {
     height: 92px;
     width: 92px;
     border: solid;
     border-color: white;
     border-width: 4px;
     border-radius: 50% 50%;
 }
 
 .circles > div > div {
     height: 86px;
     width: 86px;
     border: solid;
     border-color: red;
     border-width: 3px;
     border-radius: 50% 50%;
 }

 #identify {
     align-self: center;
     padding: 8px;
     background-color: black;
     color: white;
     font-size: 1.2em;
     box-shadow: 3px 3px 3px black;
 }

 #identify:hover {
     cursor: pointer;
     color: red;
 }

 #targets {
     display: none;
     background-color: black;
     color: white;
     padding: 10px;
     text-align: center;
     column-count: 2;
 }

 #targets li:hover {
    cursor: pointer;
    color: red;
 }
