<!DOCTYPE html>
<html>
  <head>
    <title>Waldo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <ul id='menu'>
      <li id='keyOption'>
        <ul class='menuOptions'>
          <li id='toggleKeyLabel'>Show Key</li>
          <li id='key'><img src='assets/key.jpg'></li>
          <li></li>
        </ul>
      </li>
      <li id='sceneOption'>
        <ul class='menuOptions'>
          <li id='chooseSceneLabel'>Choose Scene</li>
          <li>
            <ul id ='menuScenes'>
              <li id='scene1'><img src='assets/waldo1.jpg'></li>
              <li id='scene2'><img src='assets/waldo2.jpg'></li>
              <li id='scene3'><img src='assets/waldo3.jpg'></li>
            </ul> 
          </li>
        </ul>
      </li>
    </ul>
    <div id='container'>
      <div id='spotted'>
        <div id='circle'><div><div></div></div></div>
        <button id='identify'>Identify!</button>
        <ul id='characters'>
          <li>Waldo</li>
          <li>Wenda</li>
          <li>Woof</li>
          <li>Odlaw</li>
          <li>Whitebeard</li>
          <li>Scroll</li>
          <li>Camera</li>
          <li>Key</li>
          <li>Binoculars</li>
          <li>Bone</li>
        </ul> 
      </div>
      <img id='scene' src='assets/waldo1.jpg'> </div> </body>
    </div>
</html>
